body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

#content {
    margin-bottom: 50px; /* Height of the fixed navbar */
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
}

.page {
    padding: 20px;
}

.home-para{
    font-size: 20px;
    color: rgb(59, 57, 57);
    font-weight: 700;
    text-shadow: 0px 0px 3px #fff;
}

.home-page {
    background-color: #f5f5f5; /* Background color for the home page */
    background-image: url('eyebg.jpg');
    background-size: cover;
    background-position: center;
    color:whitesmoke; /* Text color for the home page */
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
}


.home-page::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgba(134, 124, 124,0.5);
    z-index: -1;
}

.home-page .content {
    max-width: 600px;
}

.home-page h1 {
    font-size: 3rem;
}

.home-page p {
    margin-bottom: 20px;
}

.home-page button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
}

.home-page button:hover {
    background-color: #e63946;
}

/* Add or modify styles as needed for the about page */

.about-nav {
    text-align: center;
    margin-bottom: 20px;
}

.about-nav button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-nav button.active {
    background-color: #555;
}

.about-section {
    padding: 20px;
}

.about-section h2 {
    margin-bottom: 10px;
}

.about-section p {
    margin-bottom: 20px;
    line-height: 40px;
    width: 90%;
    font-size: 20px;
}

/* Add or modify styles as needed for the prediction page */

.prediction-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.prediction-container {
    text-align: center;
}

.upload-btn {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}

.circle-btn {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    background-color: #ff4500;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.circle-btn:hover {
    transform: scale(1.1);
}

.upload-text {
    font-size: 1rem;
    color: #666;
}
.uploaded-image {
    display: block;
    text-align: center;
    background-color: red;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

